*.o
*.gcno
*~
libcraft.so
libcraft.a
Makefile.in
aclocal.m4
autom4te.cache/
config.h.in
configure
Makefile
config.h
config.log
config.status
libtool
raft.pc
stamp-h1
*.lo
*.la
.dirstamp
.deps/
.libs/
raft-test*
test-suite.log
